body
  padding: 0px
  margin: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: #9EA79D

h1
  margin: 0px
  background-color: #B3D8B3
  padding: 5px
  border-bottom: 2px solid

a
  color: #00B7FF

table, td, th
  border: 1px solid #106813
  border-collapse: collapse
  text-align: left

table
  margin: 15px

.dataColumn
  width: 200px
  color: #fff

th
  background-color: #1E3618

.even
  background-color: #E9E5DF

.odd
  background-color: #FFF

.inputField
  width: 200px

#btnAdd
  width: 100%