extends layout

block content
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
  script(src='http://code.angularjs.org/1.2.0-rc.2/angular-route.min.js')
  script(src='http://code.jquery.com/jquery-1.9.1.js')
  script(src='/javascripts/userManager-client.js')
  h1= title
  table(ng-app="userManagerApp")
    thead
      tr
        th(class='dataColumn') ID
        th(class='dataColumn') Name
        th(class='dataColumn') City
        th(class='dataColumn') State
        th 
    tbody(ng-controller="userManagerController")
      tr(ng-repeat="user in users",ng-class-even="'even'",ng-class-odd="'odd'")
        td(ng-model="user._id") {{user._id}}
        td
          input(class='inputField',ng-model="user.name")
        td
          input(value='{{user.city}}',class='inputField',ng-model="user.city")
        td
          input(value='{{user.state}}',class='inputField',ng-model="user.state")
        td
          button(ng-click=('updateUser(user)')) Update
          button(ng-click=('deleteUser(user._id)')) Delete
      tr(class='odd')
        td 
        td 
          input(class='inputField',ng-model="user.name")
        td 
          input(class='inputField',ng-model="user.city")
        td 
          input(class='inputField',ng-model="user.state")
        td 
          button(id='btnAdd',ng-click="insertUser(user)") Add User
